ase==3.17.0
Click==7.0
cycler==0.10.0
Flask==1.0.2
h5py==2.9.0
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.2
phonopy==2.1.1
pyparsing==2.3.1
pyspglib==1.8.3.1
python-dateutil==2.8.0
PyYAML==3.13
scipy==1.2.1
six==1.12.0
Werkzeug==0.14.1
